html,
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
body,
div,
header,
h1,
nav,
ul,
li,
a,
article,
p {
  margin: 0;
  padding: 0;
}
body {
  margin-left: 5px;
}
body div#wrapper > header {
  background-image: url("./images/header-bg.png");
  height: 50px;
}
body div#wrapper > header:after {
  content: "";
  display: block;
  clear: both;
}
body div#wrapper > header h1 {
  float: left;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-left: 13px;
  letter-spacing: 0.02em;
  margin-top: 12px;
  padding: 0;
}
body div#wrapper > header nav#nav {
  float: right;
  margin-right: 23px;
  margin-top: 12px;
}
body div#wrapper > header nav#nav ul {
  margin: 0;
}
body div#wrapper > header nav#nav ul li {
  margin-left: 15px;
  display: inline-block;
  font-size: 14px;
}
body div#wrapper div#searchBar {
  background-color: #000;
  height: 35px;
}
body div#wrapper div#searchBar:after {
  content: "";
  display: block;
  clear: both;
}
body div#wrapper div#searchBar div#archives {
  margin-left: 6px;
  margin-top: 5px;
  float: left;
  color: #c6c6c6;
}
body div#wrapper div#searchBar div#archives a {
  font-size: 14px;
  text-decoration: none;
  color: #c6c6c6;
  letter-spacing: -0.04em;
}
body div#wrapper div#searchBar div#search {
  float: right;
  margin-right: 9px;
  margin-top: 6px;
}
body div#wrapper div#searchBar div#search a {
  font-size: 14px;
  text-decoration: none;
  color: #c6c6c6;
}
body div#wrapper div#content h1 {
  font-size: 24px;
  margin-top: 13px;
  letter-spacing: 0em;
  margin-bottom: 16px;
}
body div#wrapper div#content p {
  font-size: 14px;
  margin-bottom: 14px;
  line-height: 16px;
}
