<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Superheroes 
    block page-title

  link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
body
  nav.navbar.navbar-default
    ul.nav.navbar-nav
      li
        a(href="/") Home
      li
        a(href="/superheroes?page=0&size=5") Superheroes
      li
        a(href="/fractions?page=0&size=5") Fractions
      li
        a(href="/account/profile") Profile
      if !result.isAuthenticated 
        li
          a(href="/account/login") Login
        li
          a(href="/account/register") Register           
      if result.isAuthenticated
        li
          a(href="/account/logout") Logout

  #content
    block content

  script(src="/bower_components/jquery/dist/jquery.min.js")      
  script(src="/bower_components/bootstrap/dist/js/bootstrap.js")  