<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Superheroes 
    block page-title

  link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
body
  nav.navbar.navbar-default
    ul.nav.navbar-nav
      li
        a(href="/") Home
      li
        a(href="/users") Users
      li
        a(href="/superheroes") Superheroes
      
  #content
    block content

  script(src="bower_components/jquery/dist/jquery.min.js")      
  script(src="bower_components/bootstrap/dist/js/bootstrap.js")  