html,
body {
  font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 1000px;
  font-weight: 400;
  -webkit-text-stroke-width: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}
body,
header,
div,
input,
main,
h1,
h2,
p,
footer,
ul,
li,
a {
  padding: 0;
  margin: 0;
}
body {
  margin-left: 12px;
}
body header#header div#shellHeader * {
  float: left;
}
body header#header div#shellHeader:after {
  display: block;
  clear: both;
  content: "";
}
body header#header div#shellHeader div#logo {
  background-image: url("./images/logo.png");
  width: 175px;
  height: 65px;
}
body header#header div#shellHeader div.separator {
  background-color: #333;
  height: 45px;
  width: 5px;
  margin-top: 10px;
  margin-left: 0px;
}
body header#header div#shellHeader div#headerTitle {
  color: #333;
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}
body header#header div#search {
  background-color: #0078d7;
  height: 65px;
  width: 100%;
  text-align: center;
}
body header#header div#search input.searchInput {
  width: 400px;
  margin-top: 15px;
  height: 35px;
  padding-left: 1px;
}
body main#main {
  padding: 15px;
}
body main#main h1 {
  font-size: 30px;
  color: #333;
}
body main#main h2 {
  font-size: 24px;
  font-weight: normal;
  color: #333;
}
body main#main hr {
  margin-top: 8px;
  height: 4px;
  background-color: #333;
  border-color: #333;
}
body main#main p {
  margin-top: 17px;
  color: #333;
  font-size: 16px;
  text-align: justify;
  line-height: 21px;
}
body footer#footer * {
  display: inline-block;
  font-size: 14px;
  color: #ccc;
}
body footer#footer {
  background-color: #505050;
  text-align: right;
  height: 60px;
  margin-top: 15px;
}
body footer#footer:after {
  display: block;
  clear: both;
  content: "";
}
body footer#footer ul#footerMenu {
  list-style: none;
  margin-right: 17px;
  margin-top: 20px;
}
body footer#footer ul#footerMenu li {
  margin-left: 12px;
}
body footer#footer ul#footerMenu li a {
  text-decoration: none;
}
body footer#footer div#language {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}
body footer#footer div#copyright {
  font-weight: bold;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
