<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RSSFeedUrl" value="https://www.youtube.com/feeds/videos.xml?channel_id=UCLC-vbm7OWvpbqzXaoAMGGw"/>
    <add key="XmlFileLocation" value="../../../rss-feed.xml"/>
    <add key="HtmlFileLocation" value="../../../index.html"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>