<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Create</h1>
    </div>
    <div class="panel-body">
        <input id="tb-todo-text" class="form-control" type="text" name="" value="" placeholder="Text">
        <input id="tb-todo-description" class="form-control" type="text" name="" value="" placeholder="Description">
        <input id="tb-todo-date" class="form-control" type="date" name="" value="" placeholder="Date">
        <input id="tb-todo-category" class="form-control" type="text" name="" value="" placeholder="Category">
    </div>
    <div class="panel-footer">
        <button id="btn-todo-create" class="btn btn-success" type="button">Create</button>
    </div>
</div>
{{#each this}}
<div class="panel {{#if this.state}}panel-success{{else}}panel-warning{{/if}}" data-id="{{this.id}}" data-author-id="{{this.creatorId}}">
    <div class="panel-heading">
        <div class="row">
            <h1 class="col-xs-6">{{this.title}}</h1>
            <h2 class="col-xs-6">{{this.description}}</h2>
        </div>
        <strong>{{this.date}}</strong>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {{#each this.users}}
            <li class="list-group-item">
                {{this}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="panel-footer">
        <p>
            Category: <a href="#/todos?category={{this.category}}">{{this.category}}</a>
        </p>
    </div>
</div>
{{/each}}