<div class="panel panel-default text-center">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <h1>Login Form</h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="input-group">
                    <input id="tb-username" type="text" class="form-control" placeholder="Username">
                    <input id="tb-password" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <button id="btn-login" class="btn btn-success col-xs-6" type="button">Login</button>
                <button id="btn-register" class="btn btn-primary col-xs-6" type="button">Register</button>
            </div>
        </div>
    </div>
</div>