<div id="form-create-todo" class="panel panel-primary">
    <div class="panel-heading">
        <h1>Create</h1>
    </div>
    <div class="panel-body">
        <input id="tb-todo-text" class="form-control" type="text" name="" value="" placeholder="Text">
        <input id="tb-todo-category" class="form-control" type="text" name="" value="" placeholder="Category">
    </div>
    <div class="panel-footer">
        <button id="btn-todo-create" class="btn btn-success" type="button">Create</button>
    </div>
</div>
{{#each this}}
<div class="todo panel {{#if this.state}}panel-success{{else}}panel-warning{{/if}}" data-id="{{this.id}}">
    <div class="panel-heading">
        {{#if this.state}}
        <h1>Done!</h1>
        {{else}}
        <h1>TODO:</h1>
        {{/if}}
    </div>
    <div class="panel-body">
        <p>{{this.text}}</p>
        <a href="#/todos/edit/{{this.id}}" class="btn btn-default" role="button">Edit text</a>
        {{#unless this.state}}
        <a href="#/todos/{{this.id}}/true" class="btn btn-default" role="button">Mark done</a>        
        {{/unless}}                                     
    </div>
    <div class="panel-footer">
        <p>
            Category: <a class="category" href="#/todos/filter?category={{this.category}}">{{this.category}}</a>
        </p>
    </div>
</div>
{{/each}}