<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Login form</h1>
    </div>
    <div class="panel-body">
        <div class="input-group input-group-lg">
            <input id="tb-username" type="text" placeholder="username" class="form-control" name="" value="">
            <input id="tb-password" type="password" placeholder="password" class="form-control" name="" value="">
        </div>
        <button id="btn-login" type="button" class="btn btn-success">Login</button>
        <button id="btn-register" type="button" class="btn btn-primary">Register</button>
    </div>
</div>