<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Share a new Cookie!</h1>
    </div>
    <div class="panel-body">
        <input id="tb-cookie-text" type="text" class="form-control" placeholder="Text">
        <input id="tb-cookie-category" type="text" class="form-control" placeholder="Category">
        <input id="tb-cookie-img" type="text" class="form-control" placeholder="Image URL">
    </div>
    <div class="panel-footer">
        <button id="btn-share" type="button" class="btn btn-success">Share</button>
    </div>
</div>