<!--{
  "id": 1,
  "title": "Lorem ipsum",
  "body": "Lorem ipsum, lorem ipsum, and again lorem, lorem, loreeeeeeem",
  "postDate": "2014-07-28T05:05:33.853Z",
  "user": {
    "id": 1,
    "username": "Minkov"
  }-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Create new post</h1>
    </div>
    <div class="panel-body">
        <input id="tb-post-title" class="form-control" type="text" name="" value="title">
        <input id="tb-post-body" class="form-control" type="text" name="" value="title">
    </div>
    <div class="panel-footer">
        <button id="btn-post-create" type="button" class="btn btn-success">Create</button>
    </div>
</div>
{{#each this}}
<div class="panel panel-primary post" data-id="{{this.id}}">
    <div class="panel-heading">
        <h1>{{this.title}}</h1>
    </div>
    <div class="panel-body">
        <p>
            {{this.body}}
        </p>
        <p>
            {{this.postDate}}
        </p>
    </div>
    <div class="panel-footer">
        <p data-user-id="{{this.user.id}}">
            {{this.user.username}}
        </p>
    </div>
</div>
{{/each}}