* {
  margin: 0;
  padding: 0;
  color: #2aa0bd;
}
body {
  font-size: 18px;
  font-family: Arial;
}
#root {
  width: 610px;
}
body div#root h1 {
  text-align: center;
  font-style: italic;
}
body div#root div.chat-container {
  background: #4ae871;
  background: linear-gradient(to bottom, #4ae871 0%, #4ae871 45%, #f1ffbc 75%, #f1ffbc 100%);
  display: inline-block;
  height: 470px;
  width: 270px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px 15px 15px 15px;
}
body div#root div.chat-container h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}
body div#root div.chat-container div.messages ul li {
  width: 270px;
  list-style: none;
  border-bottom: 1px solid #333;
  word-break: break-all;
  margin-bottom: 5px;
}
body div#root div.chat-container div.messages ul li.me {
  text-align: left;
}
body div#root div.chat-container div.messages ul li.other {
  text-align: right;
}
body div#root div.chat-container div.messages ul li:last-child {
  border-bottom: none;
}
body div#root div.chat-container div.messages ul li strong {
  display: list-item;
  font-style: italic;
  list-style: none;
  font-weight: normal;
}
body div#root div.chat-container div.messages ul li span {
  display: list-item;
  list-style: none;
}
body div#root div#me div.sent-message {
  position: absolute;
  top: 520px;
  left: 50px;
}
body div#root div#other div.sent-message {
  position: absolute;
  top: 520px;
  left: 350px;
}
