html, body {
    font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    font-weight: 400;
    -webkit-text-stroke-width: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}
