html, body
  font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  width: 1000px;
  font-weight: 400;
  -webkit-text-stroke-width: 0;
  -webkit-font-smoothing: subpixel-antialiased;

img-logo = url(./images/logo.png)
img-css = url(./images/css3.png)

font-size-header = 13px
font-size-main-h1 = 53px
font-size-main = 16px
font-size-footer = 11px

color1 = #077CC6
color2 = #DC143C
color3 = #E0E0E0

clearfix()
  &:after
    content: ""
    display: block
    clear: both;

body, header, div, input, ul, li, a, main, h1, img, p, b, footer
  margin: 0
  padding: 0

body
  margin-left: 12px
  & header#header *
    display: inline-block;
  & header#header
    clearfix()
    background-color: color1
    text-align: right
    & div#logo
      float left
      background-image: img-logo
      width: 195px
      height: 35px
    & div#search
      float right
      margin-right 5px
      margin-top: 4px
      & input
        height 23px
        width 200px
    & ul#menu
      list-style: none;
      margin-right: 15px
      & li
        margin-top: 6px
        margin-left: 11px
        & a
          text-decoration: none;
          font-size: font-size-header
          color color3
          font-weight: bold
        & a:first-letter
          text-transform: uppercase;
  & main#main
    color black
  & footer#footer
    color black
