* {
  padding: 0;
  margin: auto;
}
body section#data article#content div.data-table {
  width: 90%;
  color: #000;
  padding: 1%;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body section#data article#content div.data-table div.header-row {
  width: 90%;
  border-bottom: 1px solid #000;
}
body section#data article#content div.data-table div.header-row div.header-cell {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  text-transform: capitalize;
}
body section#data article#content div.data-table div.data-row {
  width: 90%;
  border-bottom: 1px solid #000;
}
body section#data article#content div.data-table div.data-row div.data-cell {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
body section#data footer div.data-row div.data-cell {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
