*
    padding 0
    margin auto

data-cell()
    display inline-block
    padding 5px
    margin 5px

body
    
    section#data

        article#content

            div.data-table
                width 90%
                color black
                padding 1%
                font-size 14px
                font-family 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

                div.header-row
                    width 90%
                    border-bottom 1px solid black
                    
                    div.header-cell
                        data-cell()
                        text-transform capitalize

                div.data-row
                    width 90%                
                    border-bottom 1px solid black

                    div.data-cell
                        data-cell()

        footer

            div.data-row
            
                div.data-cell
                    data-cell()
    