*
    padding 0
    margin auto

data-cell()
    display inline-block
    padding 5px
    margin 5px
    border 1px solid black

body
    
    section#data

        article#content

            div.data-table
                color black
                border 1px solid black
                font-size 12px

                div.header-row
                    width 960px
                    
                    div.header-cell
                        data-cell()
                        width 40%
                        
                        &:first-child
                            width 5%

                div.data-row
                    width 960px

                    div.data-cell
                        data-cell()
                        width 40%

                        &:first-child
                            width 5%

        footer

            div.data-row
            
                div.data-cell
                    data-cell()
    