/*.test{
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  
  background: red;
  border-radius: 100px/ 50%;
}*/

*{
  box-sizing: border-box;
}
body div.main{
  width: 800px;
  height: 60px;
  
  position: absolute;
  z-index: 1;
  background: red;
  border-radius: 100px;
  padding-top:1px;
}



body div.main div.cylinder-top{
  height: 97%;
  width: 120px;
  position: absolute;
  border-radius: 100px;
  background: black;
  margin:0;
  right: 1px;
  z-index: 2;
}

body div.main div.cylinder-top div.cylinder-fill{
  position: absolute;
  margin:0;
  /*left: 0px;*/
  right: 64%;
  height: 100%;
  width: 100%;
  /*padding-right: 42%;*/
  border-radius: 100px;
  z-index: 3;
  vertical-align: middle; 
  background:  rgba(0, 100, 0, 0.5);
}

body div.main div.cylinder-fill div.cylinder-nest{
  position: absolute;
  margin: 2%;
  margin-right: 1%;
  right: 0;
  height: 90%;
  width: 96%;
  border-radius: 100px ;
  background: black;
  border: 2px solid red;
  
}