// given
body {
    font-size: 14px;
    font-family: 'Times New Roman';
}
#root {
    width: 700px;
}
// end given
$border-color: #999999;
$button-color: #CCCCCC;

@mixin clearfix {
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}
@mixin borderstyle {
    border: 2px solid $border-color;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    div#root {
        div#previewer {
            @include clearfix;
            div#large {
                width: 495px;
                height: 400px;
                float: left;
                @include borderstyle;
                h1{
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                img{
                    @include borderstyle;
                    border-radius: 5px;
                    margin-left: 15px;
                    width: 455px;
                }
            }
            div#list {
                float: right;
                width: 205px;
                height: 405px;
                @include borderstyle;
                & > strong{
                    display: block;
                    font-size: 21px;
                    margin-left: 32px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                button{
                    @include borderstyle;
                    border-radius: 5px;
                    width: 97px;
                    height: 50px;
                    &#btn-next{
                    }
                }
                ul {
                    height: 305px;
                    overflow: hidden;
                    overflow-y: scroll;
                    margin-top: 5px;
                    text-align: center;
                    li{
                        padding-top: 8px;
                        margin-left: 5px;
                        margin-bottom: 0px;
                        height: 100px;
                        width: 173px;
                        border-bottom: 2px solid $border-color;
                        &.current{
                            background-color: $button-color;
                            border-radius: 5px;
                            height: 90px;
                            img{
                                margin-top: 10px;
                                width: 65px;
                            }

                        }
                        strong{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
