clearfix()
  &:after
    display block
    content ""
    clear both

body, header, main, div, h1, img, input, p
  margin 0
  padding 0

bkgd-color = #EEEEEE
def-font = segoe ui, sans-serif;
def-font-size = 14px
def-padding = 10px 10px 10px 12px
def-line-height = 16px
btn-wide-img = url(./Assets/btn1.png)
btn-nrw-img = url(./Assets/btn-nrw.png)

def-border()
  border 1px solid black

body
  & div.main-container
    line-height: def-line-height
    background: bkgd-color
    width: 421px;
    height: 538px;
    border-radius 10px
    font-family: def-font
    padding: def-padding
    & header
      padding: def-padding
      padding-left 0px
      padding-top 5px
      padding-bottom: 4px
      & h1
        font-size 18px
        letter-spacing: -0.07em
        font-weight: normal;
    & main
      & section.content-container
        width: 88.5%
        def-border()
        clearfix()
        padding def-padding
        padding-top: 15px
        padding-left: 15px
        padding-bottom: 15px
        margin-top: 34px
        background: white
        & div.image-container
          float left
          margin-right: 17px
        & div.text-container
          font-size: def-font-size;
          & p
            letter-spacing: -0.03em
            & span
              font-weight: bold;
        & div.btn-container
          margin-top: 15px
          text-align: right
          padding-right: 5px
          & input
            color white
          & input.btn-listen
            width 77px
            height: 25px
            background: btn-wide-img
          & input.btn-add
            width 63px
            height: 25px
            background: btn-nrw-img
