* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

body div.wrapper {
  width: 612px;
  height: 326px;
  background-color: #1E3741;
  border-radius: 5px;
}

body div.wrapper nav.section-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 13px;
}

body div.wrapper nav.section-nav ul li {
  display: inline-block;
  font-size: 12px;
  background: #4B5F67;
  color: #869FA1;
  padding: 9px 12px 9px 12px;
  margin-right: -3px;
}

body div.wrapper nav.section-nav ul li.section-nav-sport {
  text-decoration: underline;
}

body div.wrapper nav.section-nav ul li.section-nav-active {
  color: white;
  background-color: #1E3741;
}

body div.wrapper div.content-nav,
body div.wrapper div.content {
  float: left;
}

body div.wrapper div.content-nav {
  width: 38.4%;
  margin: 0;
  padding: 0;
}

body div.wrapper div.content-nav div.content-nav-item {
  font-size: 13px;
  color: #92A3AD;
  padding: 9px 12px 9px 8px;
  border-bottom: 2px solid #304650;
}

body div.wrapper div.content-nav div.content-nav-item:last-child {
  border-bottom: none;
}

body div.wrapper main div.content-nav div.content-nav-selected {
  color: white;
  background: #00968C;
}