body
    margin auto

    header
        text-align: center

    section#testing-content
        display flex
        justify-content: center
        font-family verdana, sans-serif
        font-size: 16px

        div.button
            margin 10px 0 10px 0
            padding 10px 10px 5px 10px
            width 100px
            height 20px
            border 1px solid powderblue
            background-color yellowgreen
            text-align center
            text-transform capitalize
            color white

            &:hover
                background-color lighten(yellowgreen, 20)

        div.content
            text-align: center