body
    width 100%
    margin auto

    header
        text-align: center

    section#testing-content
        font-family verdana, sans-serif
        font-size: 16px

        div.button
            margin 1% auto
            padding 7px 10px 5px 10px
            width 90%
            border 1px solid powderblue
            background-color yellowgreen
            text-align center
            text-transform capitalize
            color white

            &:hover
                background-color lighten(yellowgreen, 20)

        div.content
            padding 20px 100px 20px 100px
            text-indent: 50px
            text-align left
            display none

            &:first-letter
                text-transform: capitalize