body
    width 100%
    margin auto

    header
        text-align: center

    section#testing-content
        font-family verdana, sans-serif
        font-size: 16px

        div.button
            box-sizing border-box
            margin 15px auto
            padding 7px 10px 5px 10px
            width 90%
            border 3px solid powderblue
            background-color yellowgreen
            text-align center
            text-transform capitalize
            color white

            &:hover
                background-color lighten(yellowgreen, 20)

            & + div.content
                display none
                border 3px solid powderblue       

        div.content
            box-sizing: border-box
            padding 20px 100px 20px 100px
            border 3px solid transparent
            text-indent: 50px
            text-align left
            margin auto
            width 90%

            &:first-letter
                text-transform: capitalize