body {
  width: 100%;
  margin: auto;
}
body header {
  text-align: center;
}
body section#testing-content {
  font-family: verdana, sans-serif;
  font-size: 16px;
}
body section#testing-content div.button {
  box-sizing: border-box;
  margin: 15px auto;
  padding: 7px 10px 5px 10px;
  width: 90%;
  border: 3px solid #b0e0e6;
  background-color: #9acd32;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}
body section#testing-content div.button:hover {
  background-color: #c2e184;
}
body section#testing-content div.button + div.content {
  display: none;
  border: 3px solid #b0e0e6;
}
body section#testing-content div.content {
  box-sizing: border-box;
  padding: 20px 100px 20px 100px;
  border: 3px solid transparent;
  text-indent: 50px;
  text-align: left;
  margin: auto;
  width: 90%;
}
body section#testing-content div.content:last-child {
  margin-bottom: 1%;
}
body section#testing-content div.content:first-letter {
  text-transform: capitalize;
}
