.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.border-style-main {
  border: 2px solid black;
  border-radius: 10px;
}
.border-style-widget {
  border: 2px solid black;
  border-radius: 5px;
}
body,
div,
h1,
a,
img,
form,
input,
label,
button,
nav,
ul,
li,
header,
p,
footer,
article,
section,
h2,
aside {
  margin: 0;
  padding: 0;
}
body {
  color: #FFFFFF;
  background: #9215F2;
}
body:after {
  content: "";
  display: block;
  clear: both;
}
body header div#header-container:after {
  content: "";
  display: block;
  clear: both;
}
body header div#header-container div#logo-container {
  float: left;
}
body header div#header-container div#reg-form-container {
  float: right;
}
body header nav ul.nav-list {
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}
body header nav ul.nav-list li a {
  color: #FFFFFF;
  text-decoration: none;
}
body header nav ul#main-nav-list {
  list-style: none;
}
body header nav ul#main-nav-list li {
  display: inline-block;
}
body header nav li ul.sub-nav-list {
  display: none;
  list-style: none;
}
body section {
  float: left;
  width: 65%;
}
body section:after {
  content: "";
  display: block;
  clear: both;
}
body section article {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
body section article header h1 {
  padding: 10px 10px 10px 10px;
}
body aside {
  float: right;
  width: 30%;
}
body aside:after {
  content: "";
  display: block;
  clear: both;
}
body aside > ul {
  list-style: none;
}
body aside > ul > li {
  border: 2px solid black;
  border-radius: 5px;
}
body aside > ul > li ul {
  list-style-position: inside;
  list-style-image: url(images/li-dot.png);
}
body footer {
  clear: both;
}
