div.well
  form(method="POST" action="/fractions")
    input(type="text" name="name" placeholder="fraction name")
    input(type="text" name="alignment" placeholder="fraction alignment")
    input(type="text" name="planets" placeholder="fraction planets")
    button(type="submit") Create Fraction
    