extends ../_shared/_layout

block content
  li.list-group-item
    div.panel.panel-default
      div.panel-heading
        a(href= "/fractions/" + result.fraction._id)
          h2= result.fraction.name
        h3= result.fraction.alignment
      div.panel-body
        ul.list-group#planets-list
          each planet in result.fraction.planets
            li.list-group-item
              p= planet
        if result.isAuthenticated
          div.panel-footer
            a.btn.btn-success(href= "/fractions/add/" + result.fraction._id) Add to favorites       