body{
  margin-left: 0px;
  margin-top: 0px;
}

.table-wrap{
  background-color: #595959;
  color: white;
  font-family:arial;
  margin: 0px;
  width: 304px;
  height: 205px;
}

.header-cell{
  font-weight: 100;
  font-size: 16px;
  color: #AEB2AB;
  text-align: left;
  padding-top: 7px;
  margin-left: 0px;
  padding-bottom: 11px;
}

.header-cell > div{
  width: 150px;
}

.label, .content, .system, .status, .red{
  font-size: 11px;
  font-weight:100;
  vertical-align: top;
}

.label{
  font-style: italic;
  width: 95px;
  vertical-align: top;
}

.extra-padding{
  padding-bottom: 11px;
}

.content{
  color: #AEB2AB;
}

.red{
  color: #E61222;
}

.system{
  color: #D2C985;
}

.status{
  color: #C4682F;
}

#status-green{
  width: 10px;
  height: 10px;
}

.red, .status{
  font-weight: bold;
}