* {
    box-sizing: border-box;
    font-size: 12px;
    font-family: sans-serif;
}
.grid-container {
    width: 100%;
    max-width: 1000px;
}
.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

/* applies to all classes with col- in the name */

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 5px;

    text-align: left;
}
.col-1 {
    width: 8%;
}
.col-2 {
    width: 12%;
}
.col-3 {
    width: 18%;
}
.col-4 {
    width: 24%;
}
.col-5 {
    width: 30%;
}
.col-6 {
    width: 36%;
}

/* TODO:  * applies to all children tags */

.outline, .outline * {
    outline: 1px solid #F6A1A1;
    border-radius: 10px;
}

/* TODO: styles text  */

[class*='col-'] > span {
    text-align: left;
}

.topHeader{
  border: 1px solid #bfbfbf;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Header *, .Body * {
  border: 1px solid #bfbfbf;
  border-top-style: none;
  border-right-style:none;
}
.Header [class*='col-']:last-child,
.Body [class*='col-']:last-child{
border-right: 1px solid #bfbfbf;
}
.topHeader, .Header{
  background-color: #e6e6e6;
}

#text1{
  width: 30px;
}
