th {
    font-size: 24px;
    padding: 12px;
}

.notebook-table {
  text-align: center;
  padding: 5px;
font-size: 16px;
}

.stats{
  width: 200px;
}

.sliders{
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  width: 200px;
  align-items: center;
  text-align: center;
}
