border-color = #9D00FF
arrow-img = url(./imgs/arrow.png)
bg-color-subnav = #B5AAFF

clearfix()
  &:after
    content ""
    display  none
    clear both
    
bg-gradient()
  background: #d29bff;
  background: -moz-linear-gradient(top, #d29bff 0%, #8977ff 100%);
  background: -webkit-linear-gradient(top, #d29bff 0%,#8977ff 100%);
  background: linear-gradient(to bottom, #d29bff 0%,#8977ff 100%);
 

li-border()
  border 1px solid border-color
  border-radius 5px

*
  margin 0
  padding 0    
    
body  
  width 960px
  font-family Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif
  font-size: 16px
  
  div#wrapper
    aside
      ul.sidebar
        margin 10px 20px
        bg-gradient()
        width 215px
        height 220px
        border-radius 10px
        list-style none
        padding-top 10px
        
        > li
          text-align center
          margin-bottom 11px
          position relative
          
          &:hover > ul
            display block
            
          &:last-child > a
            border-bottom none
            
          > a
            text-decoration: none
            color black
            font-size 22px
            border-bottom 1px solid border-color
            padding 5px 15px 6px 15px
            
            &:hover 
              li-border()
          
          > ul
            display none
            position absolute
            top -5px
            left 210px
            width 240px
            list-style none
            background-color bg-color-subnav
            border-radius 10px
            padding-top 10px
            background-image: arrow-img
            background-repeat no-repeat
            background-position-x: 5px
            background-position-y: 15px
            
            li
              text-align center
              margin-bottom 5px
              margin-left 10px
              &:last-child > a
                border-bottom none 
                
              > a
                margin-top -5px
                display block
                width 180px
                margin-left 10px
                text-decoration: none
                color black
                font-size 18px
                border-bottom 1px solid border-color
                padding 5px 15px 5px 15px
                
                &:hover
                  li-border()
                  
              