{{#each this}}   
    <div class="gallery-item img-thumbnail pull-xs-left col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img class="gallery-item-img" src="{{this.data.thumbnail}}"/>
        <h4 class="gallery-item-title">{{this.data.title}}</h4>
    </div>
{{/each}}