<form class="" role="search">
      <div class="input-group">
        <input class="input-add-message message-content form-control" placeholder="Add new message..." />
        <span class="input-group-btn">
          <a class="btn-add-message btn btn-success " href="#/threads/add" type="submit">Add</a>
        </span>
      </div>
    </form>