*
    font-family: consolas
    font-size 16px
    padding 0
    margin 0

body
    div#kinetic-canvas
        width 960px
        height 540px
        background-color #333333
        // Remove this
        border 5px solid yellowgreen 