bg-img = url('http://wallpapercave.com/wp/pEeUsp1.jpg')

*
    font-family: consolas
    padding 0
    margin auto

body
    background-image: bg-img

    > h1
        color white
        text-align: center
        font-size: 48
        padding 20px 0 20px 0

    div#kinetic-canvas
        width 960px
        height 540px
        background-color #333333
        border 5px solid yellowgreen 