* {
  font-family: consolas;
  padding: 0;
  margin: auto;
}
body {
  background-image: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
}
body > h1 {
  color: #fff;
  text-align: center;
  font-size: 48;
  padding: 20px 0 20px 0;
}
body div#kinetic-canvas {
  width: 960px;
  height: 540px;
  background-color: #333;
  border: 5px solid #9acd32;
}
