bg-img = url('../imgs/pEeUsp1.jpg')

*
    font-family: consolas
    padding 0
    margin auto

body
    background-image: bg-img

    > h1
        text-align center
        padding 200px 0 5px 0

        > a
            text-decoration none
            color white
            font-size: 48

            &:hover
                text-decoration underline
        
            &:visited
                color white

    section#instructions
        color white
        text-align: center
        padding 0 0 10px 0
        font-size 20px
    
    
    div#kinetic-canvas
        width 960px
        height 540px
        // background-color #222222
        border 5px solid yellowgreen 

    section#list-controls
        color white
        padding 10px 0 0 0 

        h2
            text-align center

        ul
            list-style none
            text-align center

        