$down-arrow-img: url(./images/down-arrow.png);
$up-arrow-img: url(./images/up-arrow.png);

$border-bottom-color: #CBF7BE;
$border-top-color: #86A37D;

@mixin clearfix {
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin input-border {
  background: transparent;
  border-style: solid;
  border-right-color: $border-bottom-color;
  border-bottom-color: $border-bottom-color;
  border-left-color: $border-top-color;
  border-top-color: $border-top-color;
  border-radius: 5px;
  border-width: 3px;
}

@mixin placeholder-style {
  &::-webkit-input-placeholder {
    color: black;
    padding-left: 15px;
    letter-spacing: -0.0rem;
    font-style: italic;
 }
  &:-moz-placeholder { /* Firefox 18- */
    color: black;
    padding-left: 15px;
    letter-spacing: -0.0rem;
    font-style: italic;
 }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: black;
    padding-left: 15px;
    letter-spacing: -0.0rem;
    font-style: italic;
 }
  &:-ms-input-placeholder {
    color: black;
    padding-left: 15px;
    letter-spacing: -0.0rem;
    font-style: italic;
  }
}

@mixin bg-gradient {
  background: #cbf7be;
  background: -moz-linear-gradient(top, #cbf7be 0%, #cbf7be 14%, #e5d96e 59%, #e5d96e 100%);
  background: -webkit-linear-gradient(top, #cbf7be 0%,#cbf7be 14%,#e5d96e 59%,#e5d96e 100%);
  background: linear-gradient(to bottom, #cbf7be 0%,#cbf7be 14%,#e5d96e 59%,#e5d96e 100%);
}

@mixin bg-gradient-2 {
  background: #e5d96e;
  background: -moz-linear-gradient(top, #e5d96e 0%, #e4d96f 11%, #cbf7be 70%, #cbf7be 100%);
  background: -webkit-linear-gradient(top, #e5d96e 0%,#e4d96f 11%,#cbf7be 70%,#cbf7be 100%);
  background: linear-gradient(to bottom, #e5d96e 0%,#e4d96f 11%,#cbf7be 70%,#cbf7be 100%);
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 14px;
  font-family: Corbel;
  #root{
    width: 350px;
  }
}

body{
  div#root{
    margin-left: 5px;
    margin-top: 5px;
    border: 3px solid black;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    height: 290px;
    width: 375px;
    padding-left: 25px;
    h1{
      line-height: 25px;
      margin-top: 23px;
      margin-bottom: 21px;
      margin-left: 45px;
      letter-spacing: -0.03rem;
    }
    div.box{
      border: 1px solid black;
      @include bg-gradient;
      height: 180px;
      width: 290px;
      padding-top: 15px;
      @include clearfix;
      text-align: center;
      border-radius: 5px;
    }
    div.add-employee{
      label{
        margin-top: 6px;
        display: inline-block;
        font-weight: bold;
        margin-bottom: 5px;
      }
      input{
        @include input-border;
        height: 30px;
        width: 160px;
        color: black;
        @include placeholder-style;
      }
      div.expanded{
        background-image: $up-arrow-img;
      }
      div.dropdown{
        vertical-align: middle;
        background-image: $down-arrow-img;
        background-repeat: no-repeat;
        padding-left: 20px;
        text-align: left;
        display: inline-block;
        width: 120px;
        &#dd-rank{
          margin-left: 0px;
          text-align: left;
        }
        &#dd-title{
          margin-left: 0px;
          text-align: left;
        }
        span.chosen{
          line-height: 10px;
        }
        ul{
          display: none;
          position: absolute;
          margin-left: 105px;
          margin-top: -17px;
          list-style: none;
          @include bg-gradient-2;
          padding-left: 5px;
          padding-right: 5px;
          border: 1px solid black;
          border-radius: 5px;
          width: 150px;
          text-align: center;
          &.expanded{
            display: block;
          }
          li{
            padding: 5px 5px 5px 5px;
            border-bottom: 1px solid black;
            &:last-child{
              border-bottom: none;
            }
            &:hover{
              background-color: rgba(0,0,0,0.1);
            }
          }
        }
      }
      button{
        @include input-border;
        height: 35px;
        width: 260px;
        margin-top: 5px;
        margin-right: 15px;
      }
    }
  }
}
