block create-form
  div.well
    form(method="POST" action="/superheroes")
      input(type="text" name="name" placeholder="superhero name")
      input(type="text" name="secretIdentity" placeholder="superhero secretIdentity")
      input(type="text" name="city" placeholder="superhero city")
      input(type="text" name="country" placeholder="superhero country")
      input(type="text" name="planet" placeholder="superhero planet")      
      input(type="text" name="alignment" placeholder="superhero alignment")
      input(type="text" name="story" placeholder="superhero story")
      input(type="text" name="image" placeholder="superhero image")
      input(type="text" name="powers" placeholder="superhero powers")
      input(type="text" name="fractions" placeholder="superhero fractions")     
      button(type="Submit") Create Superhero
      
