extends ../_shared/_layout

block content
  form(method="POST" action="/superheroes/create")
    input(type="text" name="name" placeholder="superhero name")
    input(type="text" name="secretIdentity" placeholder="superhero secretIdentity")
    input(type="text" name="city" placeholder="superhero city")
    input(type="text" name="alignment" placeholder="superhero alignment")
    input(type="text" name="story" placeholder="superhero story")
    input(type="text" name="image" placeholder="superhero image")
    button(type="Submit") Create Superhero
    
