extends ../_shared/_layout

block content
    ul.list-group#superheroes
      if result.isAuthenticated
        li.list-item-group
          include create
      each superhero in result.superheroes
        li.list-group-item
          div.panel.panel-default
            div.panel-heading
              a(href= "/superheroes/" + superhero._id)
                h2= superhero.name
            div.panel-body
              h3= superhero.secretIdentity           
              img(src= superhero.image width="100px")
              p= superhero.story 
            if result.isAuthenticated
              div.panel-footer
                a.btn.btn-success(href= "/superheroes/add?id=" + superhero._id) Add to favorites       