@{
    ViewBag.Title = "Home Page";
}
@model Caching.Mvc.Models.HomeIndexViewModel

<div class="jumbotron">
    <h1>Last cached at: @Model.LastCacheTimestamp.ToShortTimeString()</h1>
</div>

@Html.Action("Partial")