* {
  box-sizing: border-box;
}

body {
  margin-left: 0px;
  margin-top: 0px;
}

.header-row, .table-row {
  width: 456px;
  font-weight: 400;
  font-family: Segoe UI;
  /*font-family: calibri light;*/
  font-size: 12px;
  font-stretch: extra-condensed;
  
  padding: 0px;
}

/* header*/
.header-row{
  background-color: background-image: -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
  background-image: -webkit-linear-gradient(top, #5EC306, #49AD02);
  background-image: -moz-linear-gradient(top, #5EC306, #49AD02);
  background-image: linear-gradient(to bottom, #5EC306, #49AD02);
  
  /*background-color: #55B806;*/
  color: white;
  display: flex;
  height: 23px;
}

.header-row > .header-cell {
  display: inline-block;

  border-left: 1px outset rgba(0, 0, 0, 0.3);
  border-bottom: 1px outset rgba(0, 0, 0, 0.3);
  
  padding-top: 1px;
  padding-left:5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) ;
}

.header-cell:first-child{
  border-left: none;
}

/*table*/
.table-row {
  height: 27px;
  display: flex;
}

.table-row > [class*='table-cell']{
  display: inline-block;
  
  padding-top: 7px;
  padding-left:5px;
  
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  
  border-left: 1px outset rgba(0, 0, 0, 0.3);
}

.table-row > [class*='table-cell']:first-child{
  border-left: none;
}

.table-row:last-child > .table-cell{
  border-bottom: 1px outset rgba(0, 0, 0, 0.3);
}

.table-row:nth-child(odd) {
  background: white;
}

.table-row:nth-child(even) {
  background: #ECECD8;
}

.size-1{
  width: 30.7%;
}

.size-2 {
  width: 24%;
}

.size-3 {
  width: 27.5%;
}
.size-4 {
  width: 17.8%;
}

input[type="checkbox"] {
  margin-top: 0px;
}

img{
  margin-top:0px;
  
  vertical-align: middle;
}