*
    padding 0
    margin auto

body

    #root

        .tab-control-container
        
            #tabs-list
                list-style: none

                .tab
                    display: inline-block
                    padding 5px 10px

            #tabs-container

                .tab-content
                    display none

                .visible
                    display block