input[type=button] {
	background-color: white;
	height: 60px;
	width: 60px;
	padding: 0px;
	margin: 0px;
	border-color: aqua;
	border-style: groove;
	border-width: 3px; 
	border-right-style: hidden;
}

input[type=text]{
	border-style: groove;
	border-color: aqua;
	border-width: 3px;
	border-bottom-style: none;
}